<!DOCTYPE html PUBLIC "-//IETF//DTD HTML 2.0//EN">
<html>
 <head>
 <style>
.tree li {
    cursor: pointer;
}
</style>
  <title>
   Страница пользователя
  </title>
 </head>
 <body>


<ul class="tree" id="tree">
					<li id="1" rating="None">
 <div color="red">1 – Материально-техническая часть
	<div width="300px" align="right" background="">
		<!--<div width="150px" align="left"> Нет </div>
		<div width="100px" align="right"> Нет </div>-->
		<span width="100px"> Yes</span>
		<span width="100px"> No</span>
	</div> 
	
 </div > 
 <ul >
  <li id="2">
	
   Материально-техническая часть 
   <ul ></ul>
    <li id="3">
     Назначение и состав ТЗМ
    </li>
    <li id="4">
 </li>
 </ul>
 </li>
 </ul>
 </li>
 </ul>
 </body>
